<nav>
    <div>
        <a href="/home">
            <i class='fas fa-gamepad'></i>
        </a>
        <a href="/home" id="home">
            <div id="name">The Game App</div>
        </a>
    </div>
    <ul>
        {{#if user}}
            <h3>Hello, {{user.username}}</h3>
            {{#if user.isAdmin}}
                <li><a href="/home/article">Add Article</a></li>
            {{/if}}
            <li><a href="/home/userReviews">Your Reviews</a></li>
            <li><a href="/logout">Logout</a></li>
        {{else}}
            <li><a href="/home/userReviews">Your Reviews</a></li>
            <li><a href="/signup">Register</a></li>
            <li><a href="/login">Login</a></li>
        {{/if}}
    </ul>
</nav>